{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<div id="sign_in2">
        <div class="container">
            <div class="row login">
                <div class="col-sm-5 left_box">
                    <h4>Connectez-vous pour accéder à votre tableau de bord</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <a href="#" class="circle facebook">
                                    <img src="img/face.png" alt="">
                                </a>
                                 <a href="#" class="circle twitter">
                                    <img src="img/twt.png" alt="">
                                </a>
                                 <a href="#" class="circle gplus">
                                    <img src="img/gplus.png" alt="">
                                </a>
                            </div>
                            <div class="form">
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Email" required="required" class=form-control"/>

                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" required="required"  placeholder="Mot de passe" class="form-control"/>
                                    <br />
                                    <div class="forgot">
                                        <span>Pas encore inscrit ?</span>
                                        <a href="{{ path('fos_user_registration_register') }}" >S'inscrire</a>

                                    </div>
                                        
                                    <div class="forgot">
                                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="{{ 'security.login.submit'|trans }}" />
                                </form>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>
{% endblock fos_user_content %}
